<!Doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>yoho</title>
	<link rel="stylesheet" href="css/detail.css">
	<link rel="stylesheet" href="css/index.css">
</head>
	<body>
	<!----头部----->
	<header id="header_box"></header>
		<div id="page">
		<!----货物详情----->
			<div id="page1">
				<p>
					<a href="#">BOYS首页</a>
					<span>></span>
					<a href="#">上衣</a>
					<span>></span>
					<a href="#">棉衣</a>
					<span>></span>
					<a href="">Life-After life 宽松剪裁MA-1飞行夹克</a>
				</p>
				<div class="container">
					<div class="content_left left">
						<div class="content_box">
							<div>
								<img src="images/life1-2-11.jpg" alt=""/>
								<img src="images/life1-1-11.jpg" alt=""/>
								<img src="images/life1-3-11.jpg" alt=""/>
								<img src="images/life2-1-11.jpg" alt=""/>
								<img src="images/life2-2-11.jpg" alt=""/>
							</div>
						</div>
						<div class="content_bigimg left">
							<div class="cover_box"></div>
							<div class="cover"> </div>
							<img src="images/life1-2-1.jpg" alt="">
							<img src="images/life1-1-1.jpg" alt="">
							<img src="images/life1-3-1.jpg" alt="">
						</div>
						<ul  class="content_smallimg right">
							<li><img src="images/life1-2.jpg" alt=""></li>
							<li><img src="images/life1-1.jpg" alt=""></li>
							<li><img src="images/life1-3.jpg" alt=""></li>
						</ul>
					</div>
					<div class="content_left left">
						<div class="content_bigimg left">
							<img src="images/life2-1-1.jpg" alt="">
							<img src="images/life2-2-1.jpg" alt="">
						</div>
						<ul  class="content_smallimg right">
							<li><img src="images/life2-1.jpg" alt=""></li>
							<li><img src="images/life2-2.jpg" alt=""></li>
						</ul>
					</div>
					<div class="content_right right">
						<div class="life_jack">
							<h2>Life-After Life 宽松剪裁MA-1飞行夹克</h2>
							<p><span>life—After Life</span></p>
							<p>市场价：<s>￥650.00</s></p>
							<div class="inline"><span>促销价：</span><h2>￥339.00</h2></div>
							<p><img src="images/new_jack.jpg" alt=""></p>
						</div>
						<div class="shop_price">
							<p><b>打折</b><span>【冬季新品盛宴】下单8.8折</span></p>
							<p><b>加价购</b><span>全场99元加价购</span></p>
							<p><b>加价购</b><span>全场69元加价购</span></p>
							<p><b>加价购</b><span>全场39元加价购</span></p>
							<p><b>加价购</b><span>全场满￥399加￥29购JUMRAGE冷帽</span></p>
						</div>
						<div class="choice">
							<p class="choice_color">选择颜色：
								<img src="images/life1.jpg" alt="">
								<img src="images/life2.jpg" alt="">
							</p>
							<p class="choice_size">选择尺码：<u>S</u>
								<u>M</u>
								<u>L</u>
								<u>尺码帮助</u>
							</p>
								<div class="choice_number">选择数量：
									<div>
									<span>1</span>
        							<p>
										<img src="images/jia.jpg">
										<img src="images/jian.jpg">
									</p>
									</div>
								</div>
								<p class="add_shopcar"><img src="images/che.jpg" alt="">
									<span>加到购物车</span>
								</p>
								<p class="add_collet">
									<img src="images/scang.jpg" alt="">
									<span>收藏商品</span>
								</p>
							</div>
							<p class="share">分享商品：
								<a href="#"><i></i></a>
								<a href="#"><i></i></a>
								<a href="#"><i></i></a>
								<a href="#"><i></i></a>
								<a href="#"><i></i></a>
								<a href="#"><i></i></a>
								<a href="#"><i></i></a>
							</p>
						</div>
					</div>
				</div>
			<div id="page2">
				<div class="description_box page_box">
					<p>
						<span class="cur">商品信息DESCRIPTION</span>
						<span>|</span>
						<span>材质洗涤MATERIALS</span>
					</p>
					<div class="description">
						<ul class="basic">
							<li>编号：51294789</li>
							<li>颜色：黑色</li>
							<li>性别：男款</li>
							<li>原产地：中国</li>
							<li>经典款型：户外外套</li>
							<li>衣长：适中</li>
							<li>袖长：长袖</li>
							<li>版型：正常</li>
							<li>厚度：中</li>
						</ul>
						<ul class="comfort">
							<li>
								<span>弹性：</span>
								<span>小</span>
								<span class="comfort_block bg_color"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span>大</span>
							</li>
							<li>
								<span>厚度</span>
								<span>薄</span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block bg_color"></span>
								<span class="comfort_block"></span>
								<span>厚</span>
							</li>
							<li>
								<span>柔软度：</span>
								<span>软</span>
								<span class="comfort_block bg_color"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block "></span>
								<span>硬</span>
							</li>
							<li>
								<span>透气度：</span>
								<span>弱</span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block"></span>
								<span class="comfort_block bg_color"></span>
								<span>强</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="size_info page_box">
					<p>
						<span class="cur">商品信息 SIZE INFO</span>
					</p>
					<table class="size_table">
						<thead>
						<tr>
							<th>吊牌尺码</th>
							<th>肩宽</th>
							<th>胸围</th>
							<th>袖长</th>
							<th>前衣长</th>
							<th>后衣长</th>
						</tr>
						<tbody>
						<tr>
							<td>S</td>
							<td>62</td>
							<td>140</td>
							<td>61</td>
							<td>64</td>
							<td>64</td>
						</tr>
						<tr>
							<td>M</td>
							<td>64</td>
							<td>146</td>
							<td>64</td>
							<td>69</td>
							<td>69</td>
						</tr>
						<tr>
							<td>L</td>
							<td>68</td>
							<td>150</td>
							<td>65</td>
							<td>74</td>
							<td>74</td>
						</tr>
						</tbody>
						</thead>
					</table>
					<div>
					<p class="size_p">※以上尺寸为实物人工测量，因测量方式有不会有1-2CM误差，相关数据仅供参考，
					以收到实物为准，单位：CM</p>
					<p class="size_p">※参考尺码因衣服版型，裁剪不同会有误差，仅供参考
						</p>
					</div>
						<p>
							<img src="images/1.jpg" alt=""/>
						</p>
				</div>
				<div class="details page_box">
					<p>
						<span class="cur">商品详情 DETAILS</span>
					</p>
					<div>
						<p>Life after life是一个定位于潮流化的“快时尚”品牌，起始于2011年秋冬季。它是由国内最顶尖的专业潮流设计团队构建而成，并拥有多个资深潮流顾问负责品牌导向，势在为目前偏于成熟和缺乏亮
						点的男装“快时尚”领域打开一个突破口。 放眼望去国内的“快时尚”品牌群，还从没有一个专业定位在年轻，富有创意和想象力的潮流人群中的品牌，那些为
						了迎合市场而做的大众、设计平庸、传统化的基本款式流水线制造业已经不能满足日新月异的国内年轻人，可是符合当下潮人胃口的品牌却在肆意定价，胡乱炒作，有鲜明创意和个性的衣服又变成了比价格和炫耀的道具，处于
						消费基层的年轻人因为价格因素被迫追逐潮牌假货……在这样的环境下，Life after life诞生了，旨在为这个环境下创造新格局。 Life after life名称的含义是“生生不息”，LOGO也是根据名称而来
						——一颗枝繁叶茂的树。其中还有一句口号是“WE MAKE CLOTHES NOT NOISE”，其含义也正是在表达，我们做的是一个实实在在的服装事业，而不是借用品牌之躯壳在炒作主理人，炒作事件等
						</p>
						<img src="images/details1.jpg" alt=""/>
						<img src="images/details2.jpg" alt=""/>
						<img src="images/details3.jpg" alt=""/>
						<img src="images/details4.jpg" alt=""/>
						<img src="images/details5.jpg" alt=""/>
						<img src="images/details5.jpg" alt=""/>
						<img src="images/details6.jpg" alt=""/>
						<img src="images/details7.jpg" alt=""/>
						<img src="images/details8.jpg" alt=""/>
						<img src="images/details9.jpg" alt=""/>
						<img src="images/details10.jpg" alt=""/>
						<img src="images/details11.jpg" alt=""/>
						<img src="images/details12.jpg" alt=""/>
						<img src="images/details13.jpg" alt=""/>
						<img src="images/details14.jpg" alt=""/>
						<img src="images/details15.jpg" alt=""/>
					</div>
				</div>
			</div>
			<div id="page3">
				<div class="comment_box page_box">
					<p>
						<span class="title cur">购买评价(104)</span>
						<span class="pad">|</span>
						<span class="title">客户咨询(209)</span>
					</p>
					<div class="comment_content">
						<div class="all_comment">
							<span class="all_img border_bottom">全部(104)</span>
							<span class="all_img">有图(14)</span>
						</div>
						<div class="comment_list">
							<ul>
								<li>
									<div class=" user left">
										<dl>
											<dt><img src="images/comment1.jpg"></dt>
											<dd>来一个昵称</dd>
										</dl>
									</div>
									<div class="size-color right">
										<p>颜色：黑色</p>
										<p>尺码：M</p>
									</div>
									<div class="comment-detail">
										<div>
											<p><span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
											</p>
											<dl>
												<dd>合适</dd>
												<dd>身高：165厘米</dd>
												<dd>体重：45公斤</dd>
											</dl>
										</div>
										<p>
											落肩非常oversized的感觉，里面在搭配
											一个连帽卫衣很酷，超级保暖，里面可以塞很多衣服
										</p>
										<p><img src="images/comment1-1.jpg" alt=""/></p>
										<p>2016-12-11 20:43:32</p>
									</div>
								</li>
								<li>
									<div class=" user left">
										<dl>
											<dt><img src="images/comment2.jpg"></dt>
											<dd>朝男</dd>
										</dl>
									</div>
									<div class="size-color right">
										<p>颜色：黑色</p>
										<p>尺码：M</p>
									</div>
									<div class="comment-detail">
										<div>
											<p><span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
											</p>
											<dl>
												<dd>合适</dd>
												<dd>身高：173厘米</dd>
												<dd>体重：65公斤</dd>
											</dl>
										</div>
										<p>
											挺不错的
										</p>
										<p><img src="images/comment2-2.jpg" alt=""/></p>
										<p>2016-12-12 21:32:21</p>
									</div>
								</li>
								<li>
									<div class=" user left">
										<dl>
											<dt><img src="images/comment3.jpg"></dt>
											<dd>陈烨大大</dd>
										</dl>
									</div>
									<div class="size-color right">
										<p>颜色：灰色</p>
										<p>尺码：M</p>
									</div>
									<div class="comment-detail">
										<div>
											<p><span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
											</p>
											<dl>
												<dd>合适</dd>
												<dd>身高：170厘米</dd>
												<dd>体重：65公斤</dd>
											</dl>
										</div>
										<p>

										</p>
										<p><img src="images/comment3-3.jpg" alt=""/></p>
										<p>2016-12-11 20:43:32</p>
									</div>
								</li>
								<li>
									<div class=" user left">
										<dl>
											<dt><img src="images/comment4.jpg"></dt>
											<dd>我就是我</dd>
										</dl>
									</div>
									<div class="size-color right">
										<p>颜色：黑色</p>
										<p>尺码：M</p>
									</div>
									<div class="comment-detail">
										<div>
											<p><span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
											</p>
											<dl>
												<dd>合适</dd>
												<dd>身高：173厘米</dd>
												<dd>体重：45公斤</dd>
											</dl>
										</div>
										<p>
											挺喜欢的
										</p>
										<p></p>
										<p>2016-12-12 12:40:02</p>
									</div>
								</li>
								<li>
									<div class=" user left">
										<dl>
											<dt><img src="images/comment5.jpg"></dt>
											<dd>呵呵</dd>
										</dl>
									</div>
									<div class="size-color right">
										<p>颜色：黑色</p>
										<p>尺码：M</p>
									</div>
									<div class="comment-detail">
										<div>
											<p><span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
											</p>
											<dl>
												<dd>合适</dd>
												<dd>身高：155厘米</dd>
												<dd>体重：40公斤</dd>
											</dl>
										</div>
										<p>
											衣服质量还是很不错的
										</p>
										<p><img src="images/comment5-5.jpg" alt=""/></p>
										<p>2016-12-11 20:43:32</p>
									</div>
								</li>>
								<li>
									<div class=" user left">
										<dl>
											<dt><img src="images/comment2.jpg"></dt>
											<dd>神火</dd>
										</dl>
									</div>
									<div class="size-color right">
										<p>颜色：黑色</p>
										<p>尺码：M</p>
									</div>
									<div class="comment-detail">
										<div>
											<p><span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
											</p>
											<dl>
												<dd>合适</dd>
												<dd>身高：165厘米</dd>
												<dd>体重：45公斤</dd>
											</dl>
										</div>
										<p>
											落肩非常oversized的感觉，里面在搭配
											一个连帽卫衣很酷，超级保暖，里面可以塞很多衣服
										</p>
										<p><img src="images/comment6-6.jpg" alt=""/></p>
										<p>2016-11-14 22:33:12</p>
									</div>
								</li>
								<li>
									<div class=" user left">
										<dl>
											<dt><img src="images/comment7.jpg"></dt>
											<dd>你不知道的事</dd>
										</dl>
									</div>
									<div class="size-color right">
										<p>颜色：黑色</p>
										<p>尺码：M</p>
									</div>
									<div class="comment-detail">
										<div>
											<p><span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position1"></span>
												<span class="position3"></span>
											</p>
											<dl>
												<dd>合适</dd>
												<dd>身高：175厘米</dd>
												<dd>体重：65公斤</dd>
											</dl>
										</div>
										<p>
											很喜欢的一件衣服
										</p>
										<p><img src="images/comment7-7.jpg" alt=""/></p>
										<p>2016-12-14 20:43:02</p>
									</div>
								</li>
							</ul>
						</div>
						<div></div>
					</div>
				</div>
			</div>
		</div>
		<!----尾部----->
		<footer id="footer"></footer>
	<script src="js/jquery-1.11.3.js"></script>
    <script src="js/detail.js"></script>
	<script src="js/index.js"></script>
	</body>
</html>