<!DOCTYPE html>
<html>
    <head>
        <title> yoho购物车 </title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="../css/cart.css">
    </head>

    <body>
        <div id="header"></div>
        <div class="main">
            <table id="cart">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selAll" />
                        <label for="sel">全选</label>
                    </th>
                    <th>商品</th>
                    <th>单价（元）</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                
                </tbody>
            </table>
            <footer id="cart_footer">
                <div>
                    总价：<span></span>
                    <button id="bt-gotobuy">去结算</button>
                </div>
            </footer>
            <div id="shine"></div>
        </div>

       <！----加载尾部----->

        <div id="footer" ></div>


        <script src="../js/jquery-1.11.3.js"></script>
		<script type="text/javascript"  src="../js/shoppingcart.js"></script>
    </body>
</html>
